{% extends 'backend/settings-base.html' %}
{% load crispy_forms_tags %}
{% block content%}


<div class="page-wrapper">
    <div class="content container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="page-title m-t-30">Salary Settings</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.da|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.hra|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.provident_fund|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.organisation_share|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.esi_settings|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.organisation_share|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-t-20 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Save &amp; update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}
