<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="index.html"><i class="fa fa-home back-icon"></i> Back to Home</a>
                </li>
                <li class="menu-title">Settings</li>
                <li>
                    <a href="settings.html">Company Settings</a>
                </li>
                <li>
                    <a href="{% url 'settings:localization' %}">Localization</a>
                </li>
                <li>
                    <a href="{% url 'settings:theme-settings' %}">Theme Settings</a>
                </li>
                <li>
                    <a href="roles-permissions.html">Roles & Permissions</a>
                </li>
                <li>
                    <a href="email-settings.html">Email Settings</a>
                </li>
                <li>
                    <a href="invoice-settings.html">Invoice Settings</a>
                </li>
                <li class="active">
                    <a href="salary-settings.html">Salary Settings</a>
                </li>
                <li>
                    <a href="notifications-settings.html">Notifications</a>
                </li>
                <li>
                    <a href="change-password.html">Change Password</a>
                </li>
                <li>
                    <a href="leave-type.html">Leave Type</a>
                </li>
            </ul>
        </div>
    </div>
</div>
