{% extends 'backend/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrapper">
    {% include 'backend/navbar.html' %}
    <div class="sidebar" id="sidebar">
        {% include 'backend/project_sidebar.html' %}
    </div>
    <div class="page-wrapper">
        <div class="chat-main-row">
            <div class="chat-main-wrapper">
                <div class="col-lg-7 message-view task-view task-left-sidebar">
                    <div class="chat-window">
                        <div class="fixed-header">
                            <div class="navbar">
                                <div class="pull-left mr-auto">
                                    <div class="add-task-btn-wrapper">
                                        <span class="add-task-btn btn btn-info btn-sm">Add Milestone</span>
                                    </div>
                                </div>
                                <a class="task-chat profile-rightbar pull-right" href="#chat_sidebar"><i class="fa fa fa-comment"></i></a>
                                <ul class="nav pull-right custom-menu">
                                    <div class="input-group m-b-10">
                                        <input placeholder="Search" class="form-control search-input" id="btn-input" type="text">
                                    </div>
                                                   </ul>
                            </div>
                        </div>
                        <div class="chat-contents">
                            <div class="chat-content-wrap">
                                <div class="chat-wrap-inner">
                                    <div class="chat-box">
                                        <div class="task-wrapper">
                                            <div class="task-list-container">
                                                <div class="task-list-body">
                                                    <ul id="task-list">
                                                      {% for i in project.milestone_set.all %}
                                                      <li class="task">
                                                        <div class="task-container">
                                                            <span class="task-action-btn task-check">
                                                              {% if i.completed %}
                                                                <span class="action-circle large complete-btn completed" milestone_id="{{i.pk}}" title="Mark Complete">
                                                                    <i class="material-icons">check</i>
                                                                </span>
                                                              {% else %}
                                                                <span class="action-circle large complete-btn" milestone_id="{{i.pk}}" title="Mark Complete">
                                                                    <i class="material-icons">check</i>
                                                                </span>
                                                              {% endif %}
                                                            </span>
                                                            <span class="task-label" contenteditable="true">{{ i.task }}</span>
                                                            <span class="task-action-btn task-btn-right">
                                                                <span class="action-circle large" title="Assign">
                                                                    <i class="material-icons">person_add</i>
                                                                </span>
                                                                <span class="action-circle large delete-btn" milestone_id="{{i.pk}}" title="Delete Task">
                                                                    <i class="material-icons">delete</i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        </li>
                                                      {% endfor %}

                                                        <!-- <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label" contenteditable="true">Patient appointment booking</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label" contenteditable="true">Appointment booking with payment gateway</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="completed task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label">Doctor available module</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label" contenteditable="true">Patient and Doctor video conferencing</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label" contenteditable="true">Private chat module</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="task">
                                                            <div class="task-container">
                                                                <span class="task-action-btn task-check">
                                                                    <span class="action-circle large complete-btn" title="Mark Complete">
                                                                        <i class="material-icons">check</i>
                                                                    </span>
                                                                </span>
                                                                <span class="task-label" contenteditable="true">Patient Profile add</span>
                                                                <span class="task-action-btn task-btn-right">
                                                                    <span class="action-circle large" title="Assign">
                                                                        <i class="material-icons">person_add</i>
                                                                    </span>
                                                                    <span class="action-circle large delete-btn" title="Delete Task">
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                                <div class="task-list-footer">
                                                    <div class="new-task-wrapper">
                                                        <textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
                                                        <span class="error-message hidden">You need to enter a task first</span>
                                                        <span class="add-new-task-btn btn" id="add-task">Add Task</span>
                                                        <span class="cancel-btn btn" id="close-task-panel">Close</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification-popup hide">
                                            <p>
                                                <span class="task"></span>
                                                <span class="notification-text"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 message-view task-chat-view task-right-sidebar" id="chat_sidebar">
                    <div class="chat-window">
                        <div class="fixed-header">
                            <div class="navbar">
                                <div class="task-assign">
                                    <span class="assign-title">Assigned to </span>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="John Doe">
                                        <img src="assets/img/user.jpg" class="avatar" alt="" height="20" width="20">
                                    </a>
                                    <a href="#" class="followers-add" title="Add Assignee" data-toggle="modal" data-target="#assignee"><i class="material-icons">add</i></a>
                                </div>
                                <!-- <ul class="nav pull-right custom-menu">
                                    <li class="dropdown dropdown-action">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0)">Delete Task</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="chat-contents task-chat-contents">
                            <div class="chat-content-wrap">
                                <div class="chat-wrap-inner">
                                    <div class="chat-box">
                                        <div class="chats">
                                            <h4>Hospital Administration Phase 1</h4>
                                            <hr class="task-line">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <div class="message-bar">
                                <div class="message-inner">
                                    <a class="link attach-icon" href="#"><img src="assets/img/attachment.png" alt=""></a>
                                    <div class="message-area">
                                        <div class="input-group">
                                            <textarea class="form-control" placeholder="Type message..."></textarea>
                                            <span class="input-group-append">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-send"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project-members task-followers">
                                <span class="followers-title">Followers</span>
                                <a href="#" data-toggle="tooltip" title="Jeffery Lalor">
                                    <img src="assets/img/user.jpg" class="avatar" alt="Jeffery Lalor" height="20" width="20">
                                </a>
                                <a href="#" data-toggle="tooltip" title="Richard Miles">
                                    <img src="assets/img/user.jpg" class="avatar" alt="Richard Miles" height="20" width="20">
                                </a>
                                <a href="#" data-toggle="tooltip" title="John Smith">
                                    <img src="assets/img/user.jpg" class="avatar" alt="John Smith" height="20" width="20">
                                </a>
                                <a href="#" data-toggle="tooltip" title="Mike Litorus">
                                    <img src="assets/img/user.jpg" class="avatar" alt="Mike Litorus" height="20" width="20">
                                </a>
                                <a href="#" class="followers-add" data-toggle="modal" data-target="#task_followers"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="assignee" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Assign this Milestone</h3>

                    </div>
                    <div class="modal-body">
                        <div class="input-group m-b-10">
                            <input placeholder="Search to add" class="form-control search-input" type="text">
                        </div>
                        <div class="input-group m-b-30">
                            <input placeholder="Select milestone" class="form-control search-input" type="text">
                               </div>
                        <div class="m-t-50 text-center">
                            <button class="btn btn-primary btn-lg">Assign</button>
                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="task_followers" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Add team members to this milestone</h3>
                    </div>
                    <div class="modal-body">
                        <div class="input-group m-b-10">
                            <input placeholder="Search to add" class="form-control search-input" id="btn-input" type="text">
                        </div>
                        <div class="input-group m-b-30">
                            <input placeholder="Select milestone" class="form-control search-input" id="btn-input" type="text">
                        </div>
                        <div class="m-t-50 text-center">
                            <button class="btn btn-primary btn-lg">Add</button>
                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
  var id="{{pk}}"
  var csrf_token = "{{ csrf_token }}"
  // console.log("");

</script>

{% endblock content%}
