
<div class="mt-20">
    <!-- Modal Start -->
    <div class="izimodal" id="modal_delete" data-iziModal-width="600px" data-iziModal-fullscreen="true"
        data-iziModal-transitionIn="bounceInDown" data-iziModal-transitionOut="bounceOutDown">
        <!-- Close Button Start -->
        <div class="close-modal">
            <button class="close-modal" data-izimodal-close><i class="ti-close"></i></button>
        </div>
        <!-- Close Button Start -->
        <!-- Modal Body Start -->
        <div class="modal-inside inner-30">
            <div class="modal-heading">
                <h4 class="modal-title center-holder">Delete Project</h4>
            </div>
            <p>Are you sure want to delete this?</p>
                <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <a role="button" href="#" class="btn btn-danger" id="delete">Delete</a>
                </div>
        </div>
        <!-- Modal Body End -->
    </div>
    <!-- Modal End -->
</div>


