{% extends 'backend/base.html' %}
{% load static %}

{% block js %}
<script type="text/javascript">
  console.log("ok");
  $(document).ready(function () {

    $('#add_team_member').select2({
        minimumInputLength: 1,
        placeholder: "Team member",
        multiple: true,
        ajax: {
            url: '/project/user_autocomplete/',
            dataType: 'json'
        },
        select : function (e) {
            console.log('select event', e);
        },
    })
    $('.project_clients').select2({
       minimumInputLength: 1,
       placeholder: "Project Clients*",
       multiple: false,
       ajax: {
           url: '/project/clients_autocomplete/',
           dataType: 'json'
       },
   });

   // select project member
   $('.project_leader').select2({
       minimumInputLength: 1,
       placeholder: "Project leader*",
       multiple: false,
       ajax: {
           url: '/project/user_autocomplete/',
           dataType: 'json'
       },
       select : function (e) {
           console.log('select event', e);
       },
   }).on("select2:select", function(e) {
         const member = ' <a href="#" data-toggle="tooltip"  title="'+ e.params.data.text +'"> <img  src="{% static 'img/user.jpg' %}" class="avatar" alt="'+ e.params.data.text +'" height="20"  width="20"></a>'
         $(".project-members").html(member);
       });

   // select Team member

   $('.team_member').select2({
       minimumInputLength: 1,
       placeholder: "Team member",
       multiple: true,
       ajax: {
           url: '/project/user_autocomplete/',
           dataType: 'json'
       }
   }).on("select2:select", function(e) {

        // update thumbnail for team member

           let container = $('<div />');
           const member_list = $(this).find(':selected').get()
           let more_member = null
           let more_member_title = []

           for ( let i = 0, l = member_list.length; i < l; i++ ) {
               let item = '';
               let display_item = 2;
                 if (i < display_item){
                      item = ' <a href="#" data-toggle="tooltip"  title="'+ member_list[i].text +'"> <img  src="{% static 'img/user.jpg' %}" class="avatar" alt="'+ member_list[i].text +'" height="20"  width="20"></a>';
                 } else {
                     more_member_title.push( member_list[i].text)
                     let title = more_member_title.join()
                     more_member = '<span class="all-team" title="'+ title +'"> +' + ((i +1) - display_item) + ' </span>'
                 }
               container.append(item)
           }
           if (more_member){
               container.append(more_member)
           }
       $(".team-members-list").html(container);


   }).on('select2:unselect', function (e) {

       // update thumbnail when we remove team member

           $(".team-members-list").html('');
            let container = $('<div />');
           const member_list = $(this).find(':selected').get()
           let more_member = null
           let more_member_title = []

           for ( let i = 0, l = member_list.length; i < l; i++ ) {
               let item = '';
               let display_item = 2;
                 if (i < display_item){
                      item = ' <a href="#" data-toggle="tooltip"  title="'+ member_list[i].text +'"> <img  src="{% static 'img/user.jpg' %}" class="avatar" alt="'+ member_list[i].text +'" height="20"  width="20"></a>';
                 } else {
                     more_member_title.push( member_list[i].text)
                     let title = more_member_title.join()
                     more_member = '<span class="all-team" title="'+ title +'"> +' + ((i +1) - display_item) + ' </span>'
                 }
               container.append(item)
           }
           if (more_member){
               container.append(more_member)
           }
           $(".team-members-list").html(container);

       });

  })
</script>
{% endblock %}

{% block content %}
<div class="main-wrapper">
    {% include 'backend/navbar.html' %}
    <div class="sidebar" id="sidebar">
        {% include 'backend/sidebar.html' %}
    </div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-7 col-5">
                    <h4 class="page-title">{{ object.name }}</h4>
                </div>
                <div class="col-sm-5 col-7 text-right m-b-30">
                    <a href="{% url 'project:milestones' object.pk %}" class="btn btn-secondary btn-rounded"> Set Milestones</a>
                    <a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#edit_project"><i
                            class="fa fa-plus"></i> Edit Project</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="project-title">
                            <h4>Description</h4>
                                <small class="block text-ellipsis m-b-15"><span class="text-danger">{{ object.get_task_number.in_complete }}</span> <span
                                        class="text-danger">open tasks, </span><span class="text-danger">{{ object.get_task_number.complete }}</span> <span
                                        class="text-danger">tasks completed</span></small>
                            </div>
                            <p>{{ object.description }}</p>
                        </div>
                    </div>
                    <div class="project-task">
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                          <div class="card-title">
                            <h5 class="m-b-20">Uploaded image files</h5>
                            <form class="m-b-20 form-inline" method="post" action="{% url 'project:upload_image' object.pk%}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                              <input type="file" name="image" accept="image/*" class="form-control" placeholder="Choose Image">
                              </div>
                              <input type="submit"class="btn btn-primary mt-2" value="Upload">
                            </form>
                          </div>
                            <div class="row">
                              {% for image in object.imageupload_set.all %}
                                <div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
                                    <div class="uploaded-box">
                                        <div class="uploaded-img">
                                            <img src="{% static 'img/placeholder.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="uploaded-img-name">
                                            <a href="{{ image.image.url }}">{{ image.image.name }}</a>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
                                <!-- <div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
                                    <div class="uploaded-box">
                                        <div class="uploaded-img">
                                            <img src="{% static 'img/placeholder.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="uploaded-img-name">
                                            demo.png
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
                                    <div class="uploaded-box">
                                        <div class="uploaded-img">
                                            <img src="{% static 'img/placeholder.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="uploaded-img-name">
                                            demo.png
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
                                    <div class="uploaded-box">
                                        <div class="uploaded-img">
                                            <img src="{% static 'img/placeholder.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="uploaded-img-name">
                                            demo.png
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-lg-4 col-xl-3">
                                    <div class="uploaded-box">
                                        <div class="uploaded-img">
                                            <img src="{% static 'img/placeholder.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="uploaded-img-name">
                                            demo.png
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class=" m-b-20">Uploaded files</h5>
                                <form class="m-b-20 form-inline" method="post" action="{% url 'project:upload_doc' object.pk%}" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-group">
                                   <input type="file" name="document" class="form-control" placeholder="Choose File">
                                  </div>
                                  <input type="submit"class="btn btn-primary ml-auto mt-2" value="Upload">
                                </form>
                            </div>
                            <ul class="files-list">
                              {% for doc in object.docupload_set.all %}
                                <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis"><a href="{{doc.doc.url}}" target="_blank">{{doc.doc.name}}</a></span>
                                            <!-- <span class="file-author"><a href="#">John Doe</a></span> -->

                                            <div class="file-size">Size: {{doc.doc.size}} bytes</div>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="" class="dropdown-toggle btn btn-link" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{{doc.doc.url}}" target="_blank">Download</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                        data-target="#share_files">Share</a>
                                                    <!-- <a class="dropdown-item" href="javascript:void(0)">Delete</a> -->
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                                <!-- <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis"><a href="#">AHA Selfcare Mobile
                                                    Application Test-Cases.xls</a></span>
                                            <span class="file-author"><a href="#">Richard Miles</a></span> <span
                                                class="file-date">May 31st at 6:53 PM</span>
                                            <div class="file-size">Size: 14.8Mb</div>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="" class="dropdown-toggle btn btn-link" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                        data-target="#share_files">Share</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title m-b-15">Project details</h6>
                            <table class="table table-striped table-border">
                                <tbody>
                                    <tr>
                                        <td>Cost:</td>
                                        <td class="text-right">N{{object.project_cost}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Hours:</td>
                                        <td class="text-right">100 Hours</td>
                                    </tr>
                                    <tr>
                                        <td>Created:</td>
                                        <td class="text-right">{{ object.created }}</td>
                                    </tr>
                                    <tr>
                                        <td>Deadline:</td>
                                        <td class="text-right">{{ object.end_date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Priority:</td>
                                        <td class="text-right">{{ object.priority }}</td>
                                    </tr>
                                    <tr>
                                        <td>Team leader:</td>
                                        <td class="text-right"><a href="profile.html">{{ object.add_project_leader}}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        <td class="text-right">{{ object.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                            <div class="progress progress-xs m-b-0">
                                <div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip"
                                    title="40%" style="width: 40%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card project-user">
                        <div class="card-body">
                            <h6 class="card-title m-b-20">Project Manager
                              <button type="button" class="pull-right btn btn-primary btn-sm" data-toggle="modal"  data-target="#modal_project_manager"><i class="fa fa-plus"></i> Add</button>
                            </h6>
                            <ul class="list-box">
                                <li>
                                    <a href="profile.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar"></span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author">{{ object.project_leader }}</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Team Leader</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                             </ul>
                        </div>
                    </div>
                    <div class="card project-user">
                        <div class="card-body">
                            <h6 class="card-title">Project Team Members 
                            <button type="button" class="pull-right btn btn-primary btn-sm" data-toggle="modal"  data-target="#add_team_member"><i class="fa fa-plus"></i> Add</button></h6>
                            <ul class="list-box">
                              {% for i in object.team_member.all %}
                                <li>
                                    <a href="profile.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar"></span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author">{{ i }}</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Web Designer</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



<div id="modal_project_manager" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Assign team leader</h3>
                </div>
                <div class="modal-body">
                    <div class="input-group m-b-10">
                        <input placeholder="Search staff" class="form-control search-input" type="text">
                    </div>
                    <div class="input-group m-b-10">
                        <input placeholder="Search milestone" class="form-control search-input mt-2" type="text">

                    </div>


                    <div>

                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'project/add_team_form.html' %}
    {% include 'project/projects_edit_form.html' %}

{% endblock content%}
