{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


<div id="edit_project" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Project</h4>
            </div>
            <div class="modal-body">
                <div class="m-b-30">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="id_label_clients" style="width: 100%">Clients</label>
                                    <select name="clients" style="width: 100%" class="project_clients js-states form-control" id="id_label_clients"></select>
                                
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.project_cost|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.deadline|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            {{ form.description|attr:"rows:3"|as_crispy_field }}
                        </div>
        
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


