{% extends 'backend/base.html'%}
{% load static %}
{% load humanize %}


{% block content %}
<div class="main-wrapper">
    {% include 'backend/navbar.html' %}
    <div class="sidebar" id="sidebar">
        {% include 'backend/sidebar.html' %}
    </div>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-5 col-4">
                    <h4 class="page-title">Estimate</h4>
                </div>
                <div class="col-sm-7 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 m-b-20">
                                    <img src="{% static 'img/logo2.png' %}" class="inv-logo" alt="">
                                    <div class="col-4">
                                        <p>
                                            {{ object.client_address }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b-20">
                                    <div class="invoice-details">
                                        <h3 class="text-uppercase">Estimate #{{ object.estimate_id }}</h3>
                                        <ul class="list-unstyled">
                                            <li>Create Date: <span> {{ object.extimate_date }}</span></li>
                                            <li>Expiry date: <span>{{ object.expiry_date }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-9 m-b-20">
                                    <h5>Estimate to:</h5>
                                    <div class="col-4">
                                        <p>
                                            {{ object.client_address }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ITEM</th>
                                        <th class="d-none d-sm-block">DESCRIPTION</th>
                                        <th>UNIT COST</th>
                                        <th>QUANTITY</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <!-- {{object.items_set.all}} -->
                                  {% for item in object.items_set.all %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ item.item_name}}</td>
                                        <td class="d-none d-sm-block">{{ item.item_description}}</td>
                                        <td>{{item.unit_cost|intcomma }}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.total}}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                            <div>
                                <div class="row invoice-payment">
                                    <div class="col-sm-7">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="m-b-20">
                                            <h6>Total due</h6>
                                            <div class="table-responsive no-border">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Subtotal:</th>
                                                            <td class="text-right">${{object.get_total}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tax: <span class="text-regular">({{object.taxes.tax_percentage}}%)</span></th>
                                                            <td class="text-right">${{object.get_taxes}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Discount: <span class="text-regular">({{object.discount}}%)</span></th>
                                                            <td class="text-right">${{object.get_dis}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total:</th>
                                                            <td class="text-right text-primary">
                                                                <h5>${{object.amount}}</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-info">
                                    <h5>Other information</h5>
                                    <p class="text-muted">{{object.other_information}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar-overlay" data-reff=""></div>
</div>
{% endblock content%}
