{% extends 'backend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_expiry_date").prop('readonly','readonly')
    $('#id_expiry_date').datepicker({format:'yyyy-mm-dd'});

    $("#id_extimate_date").prop('readonly','readonly')
    $('#id_extimate_date').datepicker({format:'yyyy-mm-dd'});

     $('#id_client').select2({
        minimumInputLength: 1,
        placeholder: "Project Clients*",
        multiple: false,
        ajax: {
            url: '/project/company_autocomplete/',
            dataType: 'json'
        },
    });

    $('#id_projects').select2({
      minimumInputLength: 1,
      placeholder: "Projects*",
      multiple: false,
      ajax: {
          url: '/project/project_autocomplete/',
          dataType: 'json'
      },

    });

    $("#estimate_form").submit(function () {
      console.log('ok');
      // return false;
      try {
        var form_data = new FormData();
        form_data.append('client',parseInt($('#id_client').val()))
        form_data.append('projects',parseInt($('#id_projects').val()))
        form_data.append('email',$('#id_email').val())
        form_data.append('taxes',$('#id_taxes').val())
        form_data.append('client_address',$('#id_client_address').val())
        form_data.append('billing_address',$('#id_billing_address').val())
        form_data.append('extimate_date',$('#id_extimate_date').val())
        form_data.append('expiry_date',$('#id_expiry_date').val())
        form_data.append('discount',$('#id_discount').val())
        form_data.append('other_information',$('#id_other_information').val())

        let items = []
        $(".items").map(function () {
          items.push({
            "item_name":$(this).find('.item_name').val(),
            "item_description":$(this).find('.item_description').val(),
            "unit_cost":$(this).find('.item_unit_cost').val(),
            "quantity":$(this).find('.item_quantity').val(),
          })
        })
        // console.log();
        // return false;
        form_data.append('items',JSON.stringify(items))
        form_data.append('csrfmiddlewaretoken','{{csrf_token}}')

        $.ajax({
          url:'/crm_accounts/create_estimates_ajax/',
          method:'POST',
          data:form_data,
          processData: false,
          contentType: false,
          success:(data)=>{
            location.href = '/crm_accounts/estimates/'+data.pk
            return false;
          },
          error:()=>{
            return false;
          }
        })
      }
      catch(err){
        console.log(err);
      }


      return false;
    })

    $(".item_unit_cost").keyup(function () {
      let item_unit = parseFloat($(this).val()).toFixed(2)
      let item_quantity = parseFloat($(this).parent().parent().find(".item_quantity").val()).toFixed(2)
      $(this).parent().parent().find(".amount").val((item_unit*item_quantity).toFixed(2))
      cal_amount()

    })
    $(".item_quantity").keyup(function () {
      let item_unit = parseFloat($(this).val()).toFixed(2)
      let item_quantity = parseFloat($(this).parent().parent().find(".item_unit_cost").val()).toFixed(2)
      $(this).parent().parent().find(".amount").val((item_unit*item_quantity).toFixed(2))
      cal_amount()
    })

  })

  function add_item() {
    let item=
    `
    <tr class="items">
        <td>${$('.items').length+1}</td>
        <td>
            <input class="form-control item_name" type="text" style="min-width:150px">
        </td>
        <td>
            <input class="form-control item_description" type="text" style="min-width:150px">
        </td>
        <td>
            <input class="form-control item_unit_cost" onkeyup="change_amm_item(this)" style="width:100px" type="number">
        </td>
        <td>
            <input class="form-control item_quantity" onkeyup="change_amm_qu(this)" style="width:80px" type="number">
        </td>
        <td>
            <input class="form-control amount" readonly="" style="width:120px"
                type="number">
        </td>
        <td><button type="button" onclick="remove_item(this)" class="btn text-danger font-18"
                title="Remove"><i class="fa fa-trash-o"
                    aria-hidden="true"></i></button></td>
    </tr>
    `
    // items_add
    $(".items_body").append(item)
  }

  function remove_item(ele) {
    $(ele).parent().parent().remove()
  }
  function change_amm_item(ele) {
    let item_unit = parseFloat($(ele).val()).toFixed(2)
    let item_quantity = parseFloat($(ele).parent().parent().find(".item_quantity").val()).toFixed(2)
    $(ele).parent().parent().find(".amount").val((item_unit*item_quantity).toFixed(2))
    cal_amount()
  }
  function change_amm_qu(ele) {

    let item_unit = parseFloat($(ele).val()).toFixed(2)
    let item_quantity = parseFloat($(ele).parent().parent().find(".item_unit_cost").val()).toFixed(2)
    $(ele).parent().parent().find(".amount").val((item_unit*item_quantity).toFixed(2))
    cal_amount()
  }
  function cal_amount() {
    var am = parseFloat(0);
    $(".amount").map((i,item)=>{
      let val = $(item).val()
      if(val !== null && val!== undefined && val!==''){
        am+=parseFloat(val)
      }
    })
    $(".total_amount").val(am)
  }
</script>
{% endblock %}

{% block content %}
<div class="main-wrapper">
     <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Create Estimate</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" enctype="multipart/form-data" id='estimate_form'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.client|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.projects|as_crispy_field }}
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.email|as_crispy_field }}

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.taxes|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.client_address|attr:"rows:3"|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.billing_address|attr:"rows:3"|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.extimate_date|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    {{ form.expiry_date|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-white">
                                        <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th class="col-sm-2">Item</th>
                                                <th class="col-md-6">Description</th>
                                                <th style="width:100px;">Unit Cost</th>
                                                <th style="width:80px;">Qty</th>
                                                <th>Amount</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody class="items_body">
                                            <tr class="items">
                                                <td>1</td>
                                                <td>
                                                    <input class="form-control item_name" type="text" style="min-width:150px">
                                                </td>
                                                <td>
                                                    <input class="form-control item_description" type="text" style="min-width:150px">
                                                </td>
                                                <td>
                                                    <input class="form-control item_unit_cost" onkeyup="change_amm_item(this)" style="width:100px" type="number">
                                                </td>
                                                <td>
                                                    <input class="form-control item_quantity" onkeyup="change_amm_qu(this)" style="width:80px" type="number">
                                                </td>
                                                <td>
                                                  <input class="form-control amount" readonly="" style="width:120px"
                                                      type="number">
                                                </td>
                                                <td><button onclick="add_item()" type="button" class="btn text-success font-18"
                                                        title="Add"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                            <tr class="items">
                                                <td>2</td>
                                                <td>
                                                    <input class="form-control item_name" type="text" style="min-width:150px">
                                                </td>
                                                <td>
                                                    <input class="form-control item_description" type="text" style="min-width:150px">
                                                </td>
                                                <td>
                                                    <input class="form-control item_unit_cost" onkeyup="change_amm_item(this)" style="width:100px" type="number">
                                                </td>
                                                <td>
                                                    <input class="form-control item_quantity" onkeyup="change_amm_qu(this)" style="width:80px" type="number">
                                                </td>
                                                <td>
                                                    <input class="form-control amount" readonly="" style="width:120px"
                                                        type="number">
                                                </td>
                                                <td><button type="button" onclick="remove_item(this)" class="btn text-danger font-18"
                                                        title="Remove"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-white">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">Total:</td>
                                                <td><input type="number" class="form-control total_amount" readonly value="0"></td>

                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-right">Tax</td>
                                                <td style="text-align: right; padding-right: 30px;width: 230px">
                                                    <input class="form-control text-right" value="0" readonly=""
                                                        type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-right">
                                                    Discount %
                                                </td>
                                                <td style="text-align: right; padding-right: 30px;width: 230px">
                                                    {{ form.discount|as_crispy_field }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="text-align: right; font-weight: bold">
                                                    Grand Total
                                                </td>
                                                <td
                                                    style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                                                    --
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form.other_information|attr:"rows:3"|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-t-20">
                            <button class="btn btn-primary btn-lg m-r-10" type="submit">Save & Send</button>
                            <button class="btn btn-primary btn-lg">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'backend/notifications.html' %}
    </div>


    <div class="sidebar-overlay" data-reff=""></div>
</div>
{% endblock content%}
