{% extends 'backend/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   
                </div>
            </div>
            <div class="row">
                <div class="modal-dialog modal-lg modal-content">
                    <div class="mb-4">
                        <h3 class="modal-title text-center">Update Expense</h3>
                     </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                {{ form.item_name|as_crispy_field }}
                                {% for i in form.item_name.errors %}
                                <small class="text-danger">{{ i }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            {{ form.purchase_from|as_crispy_field }}
                            {% for i in form.purchase_from.errors %}
                                <small class="text-danger">{{ i }}</small>
                                {% endfor %}
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            {{ form.purchase_date|as_crispy_field }}
                            {% for i in form.purchase_date.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.purchase_by |as_crispy_field }}
                            {% for i in form.purchase_by.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.amount|as_crispy_field }}
                            {% for i in form.amount.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.paid_by|as_crispy_field }}
                            {% for i in form.paid_by.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.status|as_crispy_field }}
                            {% for i in form.status.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.attachement|as_crispy_field }}
                            {% for i in form.attachement.errors %}
                            <small class="text-danger">{{ i }}</small>
                            {% endfor %}
                          </div>
                    </div>
                    </div>
                    
                          <div class="m-t-20 text-center">
                            <button class="btn btn-primary btn-lg">Update Item</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar-overlay" data-reff=""></div>
</div>
{% endblock content%}

{% block js %}

{% endblock js %}
