{% extends 'backend/base.html '%}
{% load static %}
{% load humanize %}


{% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-sm-8 col-5">
                    <h4 class="page-title">Expenses</h4>
                </div>
                <div class="col-sm-4 col-7 text-right m-b-30">
                    <!-- <a href="#" class="btn btn-primary btn-rounded pull-right" data-toggle="modal"
                        data-target="#add_expense"><i class="fa fa-plus"></i> Add Expense</a> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expensesForm" data-whatever="@mdo"><i
                            class="fa fa-plus"></i>Add Expenses</button>
                        
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="card-box">
                    <div class="card-block">
                    <div class="table-responsive">
                        <table id="dtable" class="table  custom-table m-b-0">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Purchase From</th>
                                    <th>Purchase Date</th>
                                    <th>Purchased By</th>
                                    <th>Amount</th>
                                    <th>Paid By</th>
                                    <th>Document</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for item in expenses  %}
                                <tr class="record" data-id={{ item.id}}>
                                    <td>
                                        <strong>{{ item.item_name}}</strong>
                                    </td>
                                    <td>{{ item.purchase_from }}</td>
                                    <td>{{ item.purchase_date }}</td>
                                    <td>{{ item.purchase_by }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.paid_by }}</td>
                                    <td>{{ item.attachement }}</td>
                                     <td class="text-center">
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle status_change" status_id="{{item.id}}" data-toggle="dropdown" aria-expanded="false">
                                              {% if item.status == 'inspect' %}
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inspect
                                              {% elif item.status == 'approved' %}
                                                <i class="fa fa-dot-circle-o text-warning"></i> Approved
                                              {% else %}
                                                <i class="fa fa-dot-circle-o text-success"></i> Rejected
                                              {% endif %}
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" onclick="change_status('inspect',this)"><i class="fa fa-dot-circle-o text-danger"></i> Inspect</a>
                                                <a class="dropdown-item" href="#" onclick="change_status('approved',this)"><i class="fa fa-dot-circle-o text-warning"></i> Approved</a>
                                                <a class="dropdown-item" href="#" onclick="change_status('rejected',this)"><i class="fa fa-dot-circle-o text-success"></i> Rejected</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                      <a class="btn btn-primary btn-sm" href="{% url 'crm_accounts:expenses_update' item.id %}"><i class="fa fa-pencil m-r-5"></i>
                                      </a>
                                      <button type="button" class="btn btn-danger btn-sm delete_expense" data-key="{{ item.id}}">
                                        <span class="fa fa-trash"></span> 
                                      </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                    
                            
               
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        {% include 'crm_accounts/modalForms/addExpensesForm.html' %}
      
    </div>
    
    <div class="modal fade del_modal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Removed Expenses</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Are you sure want to delete this expense?</p>
                  <div class="m-t-20 text-left">
                      <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                      <button type="button" class="btn btn-danger exp_del">Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content%}
{% block js %}
<script>
//  var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
 function change_status(pr,ele) {
        $.ajax({
          url:'/crm_accounts/change_status/',
          data:{"pk":$(ele).parent().siblings("a").attr("status_id"),
          "status":pr,
          "csrfmiddlewaretoken":"{{csrf_token}}"},
          type:"POST",
          success:(res)=>{
            console.log(res);
            if(res.status == 'inspect'){
              $(ele).parent().siblings(".status_change").html('<i class="fa fa-dot-circle-o text-danger"></i> Inspect')
            }
            else if(res.status == 'approved'){
              $(ele).parent().siblings(".status_change").html('<i class="fa fa-dot-circle-o text-warning"></i> Approved')
            }
            else{
              $(ele).parent().siblings(".status_change").html('<i class="fa fa-dot-circle-o text-success"></i> Rejected')
            }

          }
        })

      }




        $(".delete_expense").on('click', function(){
            let id = $(this).attr("data-key");
            $('.del_modal').modal('show');
            $(".exp_del").on('click', function(){
               window.location.href = `/crm_accounts/expenses/${id}/delete`
            });
        });

        
        $('#dtable').DataTable( {
    
        } );
    
      


</script>

{% endblock %}