{% for item in holiday %}
<tr class="holiday-upcoming">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.date|date:"d M, Y" }}</td>
    <td style="width: 150px">
        <button type="button"
                class="btn btn-warning btn-sm js-update"
                data-url="{% url 'employees:holiday_update' item.id %}">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
        <button type="button"
                class="btn btn-danger btn-sm js-delete"
                data-url="{% url 'employees:delete_holiday' item.id %}">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </td>
</tr>
{% endfor %}