{% extends 'backend/base.html' %} 
{% load static %}

{% block content %}
<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="table-responsive">
            <div class="row">
              <div class="col-md-12">
                <div class="card task-panel">
                  <div class="card-body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
