{% extends 'backend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-8 col-4">
                    <h4 class="page-title">Tasks</h4>
                </div>
                <div class="col-sm-4 col-8 text-right m-b-30">
                    <a href="#" class="btn btn-primary btn-rounded pull-right" data-toggle="modal" data-target="#add_ticket"><i class="fa fa-plus"></i> Add New Task</a>
                </div>
            </div>
            <!-- {{form|crispy}} -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table m-b-0 datatable">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Title</th>
                                    <th>Assigned Staff</th>
                                    <th>Created Date</th>
                                    <th>Expiring Date</th>
                                    <th>Priority</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Time Spent</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for i in tasks %}
                                <tr>
                                    <td><a href="{% url 'tasks:detail' i.pk %}">{{i.task_id}}</a></td>
                                    <td>{{i.name}}</td>
                                    <td>{{i.assign_to.user.username}}</td>
                                    <td>{{i.start_date}}</td>
                                    <td>{{i.end_date}}</td>

                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle priority_task" task_id="{{i.pk}}" data-toggle="dropdown" aria-expanded="false">
                                              {% if i.priority == 'high' %}
                                                <i class="fa fa-dot-circle-o text-danger"></i> High
                                              {% elif i.priority == 'medium' %}
                                                <i class="fa fa-dot-circle-o text-warning"></i> Medium
                                              {% else %}
                                                <i class="fa fa-dot-circle-o text-success"></i> Low
                                              {% endif %}
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" onclick="change_priority('high',this)"><i class="fa fa-dot-circle-o text-danger"></i> High</a>
                                                <a class="dropdown-item" href="#" onclick="change_priority('medium',this)"><i class="fa fa-dot-circle-o text-warning"></i> Medium</a>
                                                <a class="dropdown-item" href="#" onclick="change_priority('low',this)"><i class="fa fa-dot-circle-o text-success"></i> Low</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle status_task" task_id="{{i.pk}}" data-toggle="dropdown" aria-expanded="false">
                                              {% if i.status == 'active' %}
                                                <i class="fa fa-dot-circle-o text-danger"></i> Active
                                              {% elif i.status == 'inactive' %}
                                                <i class="fa fa-dot-circle-o text-warning"></i> Inactive
                                              {% else %}
                                                <i class="fa fa-dot-circle-o text-success"></i> Complete
                                              {% endif %}

                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" onclick="change_status('active',this)"><i class="fa fa-dot-circle-o text-danger">Active</i> </a>
                                                <a class="dropdown-item" href="#" onclick="change_status('inactive',this)"><i class="fa fa-dot-circle-o text-warning"></i> Inactive</a>
                                                <a class="dropdown-item" href="#" onclick="change_status('complete',this)"><i class="fa fa-dot-circle-o text-success"></i> Complete</a>
                                           </div>
                                        </div>
                                    </td>
                                    <td class="text-center">{{i.get_mins}}</td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="add_ticket" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Task</h4>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.priority|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    {{ form.client|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    {{ form.assign_to|as_crispy_field }}
                                </div>
                            </div>
                             
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    {{ form.task_followers|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.status|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.task_id|as_crispy_field }}
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.start_date|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.end_date|as_crispy_field }}
                                </div>
                            </div>
                            </div>
                       <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.description|attr:"rows:3"|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary btn-lg" type="submit">Create Ticket</button>
                        </div>
                    </form>
                    <!-- <form method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                      {% for field in form %}
                        {{ field|as_crispy_field }}
                        {% if field.errors %}
                          {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        {% endif %}
                      {% endfor %} 
                      <div class="m-t-20 text-center">
                          <button class="btn btn-primary btn-lg" type="submit">Create Task</button>
                      </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
    <div id="edit_ticket" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Ticket</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ticket Subject</label>
                                    <input class="form-control" type="text" value="Laptop Issue">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ticket Id</label>
                                    <input class="form-control" type="text" readonly="" value="TKT-0001">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Assign Staff</label>
                                    <select class="select">
                                        <option>-</option>
                                        <option selected>Mike Litorus</option>
                                        <option>John Smith</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select">
                                        <option>-</option>
                                        <option>Delta Infotech</option>
                                        <option selected>International Software Inc</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select">
                                        <option>High</option>
                                        <option selected>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>CC</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Assign</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ticket Assignee</label>
                                    <div class="project-members">
                                        <a title="John Smith" data-toggle="tooltip" href="#">
                                            <img width="20" height="20" alt="John Smith" class="avatar" src="assets/img/user.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Followers</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ticket Followers</label>
                                    <div class="project-members">
                                        <a title="Richard Miles" data-toggle="tooltip" href="#">
                                            <img width="20" height="20" alt="Richard Miles" class="avatar" src="assets/img/user.jpg">
                                        </a>
                                        <a title="John Smith" data-toggle="tooltip" href="#">
                                            <img width="20" height="20" alt="John Smith" class="avatar" src="assets/img/user.jpg">
                                        </a>
                                        <a title="Mike Litorus" data-toggle="tooltip" href="#">
                                            <img width="20" height="20" alt="Mike Litorus" class="avatar" src="assets/img/user.jpg">
                                        </a>
                                        <a title="Wilmer Deluna" data-toggle="tooltip" href="#">
                                            <img width="20" height="20" alt="Wilmer Deluna" class="avatar" src="assets/img/user.jpg">
                                        </a>
                                        <span class="all-team">+2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Upload Files</label>
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary btn-lg">Edit Ticket</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_ticket" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Ticket</h4>
                </div>
                <form>
                    <div class="modal-body card-box">
                        <p>Are you sure want to delete this ticket?</p>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      function change_priority(pr,ele) {
        $.ajax({
          url:'/task/change_priority/',data:{"pk":$(ele).parent().siblings("a").attr("task_id"),"pr":pr,"csrfmiddlewaretoken":"{{csrf_token}}"},
          type:"POST",
          success:(res)=>{
            if(res.priority == 'high'){
              $(ele).parent().siblings(".priority_task").html('<i class="fa fa-dot-circle-o text-danger"></i> High')
            }
            else if(res.priority == 'medium'){
              $(ele).parent().siblings(".priority_task").html('<i class="fa fa-dot-circle-o text-warning"></i> Medium')
            }
            else{
              $(ele).parent().siblings(".priority_task").html('<i class="fa fa-dot-circle-o text-success"></i> Low')
            }

          }
        })
      }
      function change_status(pr,ele) {
        $.ajax({
          url:'/task/change_status/',data:{"pk":$(ele).parent().siblings("a").attr("task_id"),"status":pr,"csrfmiddlewaretoken":"{{csrf_token}}"},
          type:"POST",
          success:(res)=>{
            console.log(res);
            if(res.status == 'active'){
              $(ele).parent().siblings(".status_task").html('<i class="fa fa-dot-circle-o text-danger"></i> Active')
            }
            else if(res.status == 'inactive'){
              $(ele).parent().siblings(".status_task").html('<i class="fa fa-dot-circle-o text-warning"></i> Inactive')
            }
            else{
              $(ele).parent().siblings(".status_task").html('<i class="fa fa-dot-circle-o text-success"></i> Complete')
            }

          }
        })

      }
      $(document).ready(function(){
        $("#id_start_date").datetimepicker({
          format: 'YYYY-MM-DD'
        });

        $("#id_end_date").datetimepicker({
           format: 'YYYY-MM-DD'
        })

        $("#id_assign_to").select2({
          ajax: {
              url: '/employees/staff_ac',
              dataType: 'json',
            },
        })

        $("#id_client").select2({
          ajax: {
              url: '/project/clients_autocomplete/',
              dataType: 'json'
          },
        })

        $("#id_task_followers").select2({
          ajax: {
              url: '/project/user_autocomplete/',
              dataType: 'json'
          },
        })
      })
    </script>

</div>
{% endblock content%}
