{% load static %}
{% load crispy_forms_tags %}

<div class="mt-20">
    <!-- Modal Start -->
    <div class="izimodal" id="modal_user_form" data-iziModal-width="700px" data-iziModal-fullscreen="true"
        data-iziModal-transitionIn="bounceInDown" data-iziModal-transitionOut="bounceOutDown">
        <!-- Close Button Start -->
        <div class="close-modal">
            <button class="close-modal" data-izimodal-close><i class="ti-close"></i></button>
        </div>
        <!-- Close Button Start -->
        <!-- Modal Body Start -->
        <div class="modal-inside inner-30">
            <div class="modal-heading">
                <h4 class="modal-title center-holder">Add User</h4>
            </div>

            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.first_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.last_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.username|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.password1|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                           
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Select role</label>
                            {{form.is_admin|as_crispy_field}}
                            {{form.is_client|as_crispy_field}}
                            {{form.is_employee|as_crispy_field}}
                                                   </div>
                    </div>


                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary btn-lg">Add User</button>
                </div>
            </form>
          
        </div>
        <!-- Modal Body End -->
    </div>
    <!-- Modal End -->
</div>