{% load static %}
{% load crispy_forms_tags %}

<div class="modal fade" id="userForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">Add User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.first_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.last_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.username|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{form.password1|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                           
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Select role</label>
                            {{form.is_admin|as_crispy_field}}
                            {{form.is_client|as_crispy_field}}
                            {{form.is_employee|as_crispy_field}}
                                                   </div>
                    </div>


                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary btn-lg">Add User</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>




