
<div id="delete_user" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
            </div>
            <form>
                <div class="modal-body card-box">
                    <p>Are you sure want to delete this?</p>

                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <a role="button" id="delete_user_link" type="submit" class="btn">Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="change_status" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Change status?</h4>
            </div>
            <form>
                <div class="modal-body card-box">
                    <p>Are you sure?</p>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button id="change_user_link" class="btn" type='button'>Yes</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
