{% extends 'backend/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Compose</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <form method="post" id='form_mail' enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="form-group">
                            <!-- <input type="email" placeholder="To" class="form-control"> -->
                            {{form.to|as_crispy_field}}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <input type="email" placeholder="Cc" class="form-control"> -->
                                    {{form.cc|as_crispy_field}}
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Bcc" class="form-control">
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <!-- <input type="text" placeholder="Subject" class="form-control"> -->
                            {{form.subject|as_crispy_field}}
                        </div>
                        <div class="form-group">
                            <!-- <textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here"></textarea> -->
                            {{form.body|as_crispy_field|safe}}
                        </div>
                        <div class="form-group">
                            {{form.attachments|as_crispy_field}}
                        </div>
                        <input type="checkbox" name="draft" hidden id='draft'>
                        <div class="form-group m-b-0">
                            <div class="text-center">
                                <button class="btn btn-primary"><span>Send</span> <i class="fa fa-send m-l-5"></i></button>
                                <button class="btn btn-success m-l-5" type="button" id="draft_button"><span>Draft</span> <i class="fa fa-floppy-o m-l-5"></i></button>
                                <button class="btn btn-success m-l-5" type="reset"><span>Delete</span> <i class="fa fa-trash-o m-l-5"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block js %}
<script type="text/javascript">
  $(function () {
    $("#draft_button").click(function () {
      $("#draft").prop('checked','checked')
      $("#form_mail").submit()
    })

    $('#id_to').select2({
       minimumInputLength: 1,
       placeholder: "To mail",
       multiple: true,
       ajax: {
           url: '/project/user_autocomplete',
           dataType: 'json'
       },
   });
   $('#id_cc').select2({
      minimumInputLength: 1,
      placeholder: "CC",
      multiple: true,
      ajax: {
          url: '/project/user_autocomplete',
          dataType: 'json'
      },
  });
  })

</script>

{% endblock %}
{% endblock content %}
