{% extends 'backend/base2.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">View Message</h4>

            </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% with rep=object|get_reply %}
              {% if rep %}
                <h4>Reply for: <a href="{% url 'messaging:mail_view' rep.pk %}">{{rep.from_email|get_user}}|{{rep.subject}}</a></h4>
              {% endif %}
            {% endwith %}
          </div>
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="mailview-content">
                        <div class="mailview-header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="text-ellipsis m-b-10">
                                        <span class="mail-view-title">{{object.subject}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="mail-view-action">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                            <a href="#" role="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Reply"> <i class="fa fa-reply"></i></a>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Forward"> <i class="fa fa-share"></i></button>
                                        </div>
                                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sender-info">
                                <div class="sender-img">
                                    <img width="40" alt="" src="{% static 'img/user.jpg'  %}" class="rounded-circle">
                                </div>
                                <div class="receiver-details pull-left">
                                    <span class="sender-name">{{object.from_email|get_user}}</span>
                                    <span class="receiver-name">
                                        to <span>me</span>, <span>{{request.user.username}}</span>
                                    </span>
                                </div>
                                <div class="mail-sent-time">
                                    <span class="mail-time">{{object.date|date:'jS F, h:i A e'}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="mailview-inner">
                            <p>
                              {{object.body}}
                            </p>
                        </div>
                    </div>
                    <div class="mail-attachments">
                        <p><i class="fa fa-paperclip"></i> {{object.files_set.all|length}} Attachments -
                        <ul class="attachments clearfix">
                          {% for i in object.files_set.all %}
                            <li>
                                <div class="attach-file"><i class="fa fa-file-pdf-o"></i></div>
                                <div class="attach-info">
                                    <a href="{{i.file.url}}" class="attach-filename">{{i.file.name}}</a>
                                    <!-- <div class="attach-fileize"> 842 KB</div> -->
                                </div>
                            </li>
                          {% endfor %}
                            <!-- <li>
                                <div class="attach-file"><i class="fa fa-file-word-o"></i></div>
                                <div class="attach-info">
                                    <a href="#" class="attach-filename">documentation.docx</a>
                                    <div class="attach-fileize"> 2,305 KB</div>
                                </div>
                            </li>
                            <li>
                                <div class="attach-file"><img src="{% static 'img/placeholder.jpg'  %}" alt="Attachment"></div>
                                <div class="attach-info">
                                    <a href="#" class="attach-filename">webdesign.png</a>
                                    <div class="attach-fileize"> 1.42 MB</div>
                                </div>
                            </li>
                            <li>
                                <div class="attach-file"><img src="{% static 'img/placeholder.jpg'  %}" alt="Attachment"></div>
                                <div class="attach-info">
                                    <a href="#" class="attach-filename">webdevelopment.png</a>
                                    <div class="attach-fileize"> 1.1 MB</div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="mailview-footer">
                        <div class="row">
                            <div class="col-sm-6 left-action">
                                <!-- <a href="{% url 'messaging:reply_view' object.pk %}" role="button" class="btn btn-white"><i class="fa fa-reply"></i> Reply</a> -->
                                <!-- <a onclick="reply()" role="button" class="btn btn-white"><i class="fa fa-reply"></i> Reply</a> -->
                                <button data-target='#exampleModal' data-toggle='modal' class="btn btn-white">Reply</button>
                                <a href="#" type="button" class="btn btn-white"><i class="fa fa-share"></i> Forward</a>

                            </div>
                            <div class="col-sm-6 right-action">
                                <button type="button" class="btn btn-white"><i class="fa fa-print"></i> Print</button>
                                <button type="button" class="btn btn-white"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id='exampleModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'messaging:reply_view' object.pk %}" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="form-group">
                <!-- <input type="text" placeholder="Subject" class="form-control"> -->
                {{reply_form.subject|as_crispy_field}}
            </div>
            <div class="form-group">
                <!-- <textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here"></textarea> -->
                {{reply_form.body|as_crispy_field}}
            </div>
            <div class="form-group">
                {{reply_form.attachments|as_crispy_field}}
            </div>

            <input type="checkbox" name="draft" hidden id='draft'>
            <div class="form-group m-b-0">
                <div class="text-center">
                    <button class="btn btn-primary"><span>Send</span> <i class="fa fa-send m-l-5"></i></button>
                    <button class="btn btn-success m-l-5" type="reset"><span>Delete</span> <i class="fa fa-trash-o m-l-5"></i></button>
                </div>
            </div>
        </form>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
  function reply(){
    window.open("{% url 'messaging:reply_view' object.pk %}", '_blank', 'height=600,width=600,location=no');
  }
</script>
{% endblock content %}
