{% extends 'backend/base2.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">View Message</h4>

            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div class="card-box">
                    <div class="mailview-content">
                        <div class="mailview-header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="text-ellipsis m-b-10">
                                        <span class="mail-view-title">{{object.subject}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="mail-view-action">
                                        <div class="btn-group">
                                            <button class="btn btn-white btn-sm" data-toggle="modal" data-target="#delete_modal" data-id='{{object.pk}}'> <i class="fa fa-trash-o"></i></button>
                                            <!-- <a href="#" role="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Reply">  -->
                                            <button data-target='#reply_modal' data-toggle='modal' class="btn btn-white"><i class="fa fa-reply"></i></button>
                                            <button data-target='#forwad_modal' data-toggle='modal' class="btn btn-white"><i class="fa fa-share"></i></button>
                                        </div>
                                        <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print" onclick="divPrint()"> <i class="fa fa-print"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="sender-info">
                                <div class="sender-img">
                                    <img width="40" alt="" src="{% static 'img/user.jpg'  %}" class="rounded-circle">
                                </div>
                                <div class="receiver-details pull-left">
                                    <span class="sender-name">{{object.from_email|get_user}}</span>
                                    <span class="receiver-name">
                                        to <span>me</span>, <span>{{request.user.username}}</span>
                                    </span>
                                </div>
                                <div class="mail-sent-time">
                                    <span class="mail-time">{{object.date|date:'jS F, h:i A e'}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="mailview-inner">
                            <p>
                              {{object.body|safe}}
                            </p>
                        </div>
                    </div>
                    <div class="mail-attachments">
                        <p><i class="fa fa-paperclip"></i> {{object.files_set.all|length}} Attachments -
                        <ul class="attachments clearfix">
                          {% for i in object.files_set.all %}
                            <li>
                                <div class="attach-file"><i class="fa fa-file-pdf-o"></i></div>
                                <div class="attach-info">
                                    <a href="{{i.file.url}}" class="attach-filename">{{i.file.name}}</a>
                                    <!-- <div class="attach-fileize"> 842 KB</div> -->
                                </div>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="mailview-footer">
                        <div class="row">
                            <div class="col-sm-6 left-action">
                                <!-- <a href="{% url 'messaging:reply_view' object.pk %}" role="button" class="btn btn-white"><i class="fa fa-reply"></i> Reply</a> -->
                                <!-- <a onclick="reply()" role="button" class="btn btn-white"><i class="fa fa-reply"></i> Reply</a> -->
                                <button data-target='#reply_modal' data-toggle='modal' class="btn btn-white">Reply</button>
                                <button data-target='#forwad_modal' data-toggle='modal' class="btn btn-white"><i class="fa fa-share"></i> Forward</button>

                            </div>
                            <div class="col-sm-6 right-action">
                                <button type="button" class="btn btn-white" onclick="divPrint()"><i class="fa fa-print"></i> Print</button>
                                <button id='' type="button" class="btn btn-white" data-toggle="modal" data-target="#delete_modal" data-id='{{object.pk}}'> <i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id='reply_modal'>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reply:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'messaging:reply_view' object.pk %}" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="form-group">
                <!-- <input type="text" placeholder="Subject" class="form-control"> -->
                {{reply_form.subject|as_crispy_field}}
            </div>
            <div class="form-group">
                <!-- <textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here"></textarea> -->
                {{reply_form.body|as_crispy_field|safe}}
            </div>
            <div class="form-group">
                {{reply_form.attachments|as_crispy_field}}
            </div>

            <input type="checkbox" name="draft" hidden id='draft'>
            <div class="form-group m-b-0">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit"><span>Send</span> <i class="fa fa-send m-l-5"></i></button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id='forwad_modal'>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forward:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'messaging:forward_view' object.pk %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <select class="form-control" id='id_forward'  name="to" style='width:100%'>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id='delete_modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to move this to trash?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a role="button" class="btn btn-primary del_link" href="#">Yes</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
{% block js %}
<script type="text/javascript">
  function reply(){
    window.open("{% url 'messaging:reply_view' object.pk %}", '_blank', 'height=600,width=600,location=no');
  }
  function divPrint() {
      var nw = window.open();
      nw.document.write(
      `
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

      <div class="mailview-content ml-5">
          <div class="mailview-header">
              <div class="row">
                  <div class="col-sm-9">
                      <div class="text-ellipsis m-b-10">
                          Subject: <span class="mail-view-title">{{object.subject}}</span>
                      </div>
                  </div>
              </div>
              <div class="sender-info">
                  <div class="receiver-details pull-left">
                      <span class="sender-name">{{object.from_email|get_user}}</span>
                      <span class="receiver-name">
                          to <span>me</span>, <span>{{request.user.username}}</span>
                      </span>
                  </div>
                  <div class="mail-sent-time">
                      <span class="mail-time">{{object.date|date:'jS F, h:i A e'}}</span>
                  </div>
              </div>
          </div>
          <div class="mailview-inner">
            <p>Body:</p>
              <p>
                {{object.body}}
              </p>
          </div>
      </div>
      `);
      nw.print();
      return false;
  }

  $(function () {
    $.ajax({url:`/messaging/mark_as_read/{{object.pk}}`,type:'GET'})
    $('#id_forward').select2({
       minimumInputLength: 1,
       placeholder: "Forward to",
       multiple: true,
       ajax: {
           url: '/project/user_autocomplete',
           dataType: 'json'
       },
   });



   $("#delete_modal").on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('id')
      var modal = $(this)
      modal.find('.del_link').attr('href',`/messaging/move_to_trash/${recipient}`)
    })
  })
</script>
{% endblock %}
{% endblock content %}
