{% extends 'backend/base.html' %}

{% block content%}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>₦20m</h3>
                        <span>Revenue</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-info"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>1072</h3>
                        <span>Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-warning"><i class="fa fa-files-o"></i></span>
                    <div class="dash-widget-info">
                        <h3>72</h3>
                        <span>Projects</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget dash-widget5">
                    <span class="dash-widget-icon bg-danger"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3>618</h3>
                        <span>Tasks</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-12">
                <div class="card-box">
                    <div id="bar-example"></div>
                </div>
            </div> -->
        </div>
       
        <div class="row">
            <div class="col-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Project Status</h4>
                        <div id="donutChart" class="rad-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Product Status</h4>
                        <div id="areaChart" class="rad-chart"></div>
                    </div>
                </div>
            </div>
           </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-table card-table-top">
                    <div class="card-header bg-white">
                        <h4 class="card-title m-b-0">Invoices</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Invoice ID</th>
                                        <th>Client</th>
                                        <th>Due Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0001</a></td>
                                        <td>
                                            <h2><a href="#">Hazel Nutt</a></h2>
                                        </td>
                                        <td>8 Aug 2017</td>
                                        <td>$380</td>
                                        <td>
                                            <span class="badge badge-warning-border">Partially Paid</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0002</a></td>
                                        <td>
                                            <h2><a href="#">Paige Turner</a></h2>
                                        </td>
                                        <td>17 Sep 2017</td>
                                        <td>$500</td>
                                        <td>
                                            <span class="badge badge-success-border">Paid</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0003</a></td>
                                        <td>
                                            <h2><a href="#">Ben Dover</a></h2>
                                        </td>
                                        <td>30 Nov 2017</td>
                                        <td>$60</td>
                                        <td>
                                            <span class="badge badge-danger-border">Unpaid</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a href="invoices.html" class="text-muted">View all invoices</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-table card-table-top">
                    <div class="card-header bg-white">
                        <h4 class="card-title m-b-0">Payments</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Invoice ID</th>
                                        <th>Client</th>
                                        <th>Payment Type</th>
                                        <th>Paid Date</th>
                                        <th>Paid Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0004</a></td>
                                        <td>
                                            <h2><a href="#">Barry Cuda</a></h2>
                                        </td>
                                        <td>Paypal</td>
                                        <td>11 Jun 2017</td>
                                        <td>$380</td>
                                    </tr>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0005</a></td>
                                        <td>
                                            <h2><a href="#">Tressa Wexler</a></h2>
                                        </td>
                                        <td>Paypal</td>
                                        <td>21 Jul 2017</td>
                                        <td>$500</td>
                                    </tr>
                                    <tr>
                                        <td><a href="invoice-view.html">#INV-0006</a></td>
                                        <td>
                                            <h2><a href="#">Ruby Bartlett</a></h2>
                                        </td>
                                        <td>Paypal</td>
                                        <td>28 Aug 2017</td>
                                        <td>$60</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a href="payments.html" class="text-muted">View all payments</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}

{% endblock js %}
    