{% extends 'backend/base.html' %}
{% load static %}


{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js">
</script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<style media="screen">
  .tooltip-inner {
    max-width: 100% !important;
}

</style>
<div class="main-wrapper">
      {% include 'backend/navbar.html' %}
      <div class="sidebar" id="sidebar">
      {% include 'backend/sidebar.html' %}
        </div>



    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Attendance Sheet</h4>
                </div>
            </div>
            <div class="row filter-row">
              <form id="search_form" class="form-inline" style="width:100%">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <label class="focus-label">Employee Name</label>
                        <input type="text"  class="form-control floating">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus select-focus">
                        <label class="focus-label">Select Month</label>
                        <select class="select floating" name='month'>
                            <option value="01" selected>Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus select-focus">
                        <label class="focus-label">Select Year</label>
                        <select name="year" class="select floating">
                            <!-- <option>-</option> -->
                            <option value="2020" selected>2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="submit" class="btn btn-success btn-block"> Search </button>
                </div>
                </form>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table m-b-0" id="attendace_sheet">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>22</th>
                                    <th>23</th>
                                    <th>24</th>
                                    <th>25</th>
                                    <th>26</th>
                                    <th>27</th>
                                    <th>28</th>
                                    <th>29</th>
                                    <th>30</th>
                                    <th>31</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- <tr>
                                    <td>John Doe</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td>
                                        <div class="half-day"><span class="first-off"><i
                                                    class="fa fa-check text-success"></i></span> <span
                                                class="first-off"><i class="fa fa-close text-danger"></i></span></div>
                                    </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td>
                                        <div class="half-day"><span class="first-off"><i
                                                    class="fa fa-close text-danger"></i></span> <span
                                                class="first-off"><i class="fa fa-check text-success"></i></span></div>
                                    </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Richard Miles</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>John Smith</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Mike Litorus</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Wilmer Deluna</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Jeffrey Warden</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Bernardo Galaviz</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Lesley Grauer</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Jeffery Lalor</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Loren Gatlin</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Tarah Shropshire</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr>
                                <tr>
                                    <td>Richard Miles</td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-close text-danger"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                    <td><i class="fa fa-check text-success"></i> </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification-box">
            <div class="msg-sidebar notifications msg-noti">
                <div class="topnav-dropdown-header">
                    <span>Messages</span>
                </div>
                <div class="drop-scroll msg-list-scroll">
                    <ul class="list-box">
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">R</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Richard Miles </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item new-message">
                                    <div class="list-left">
                                        <span class="avatar">J</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">John Doe</span>
                                        <span class="message-time">1 Aug</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">T</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Tarah Shropshire </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">M</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Mike Litorus</span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">C</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Catherine Manseau </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">D</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Domenic Houston </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">B</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Buster Wigton </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">R</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Rolland Webber </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">C</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author"> Claire Mapes </span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">M</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Melita Faucher</span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">J</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Jeffery Lalor</span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">L</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Loren Gatlin</span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <div class="list-item">
                                    <div class="list-left">
                                        <span class="avatar">T</span>
                                    </div>
                                    <div class="list-body">
                                        <span class="message-author">Tarah Shropshire</span>
                                        <span class="message-time">12:28 AM</span>
                                        <div class="clearfix"></div>
                                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="chat.html">See all messages</a>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>

    <script type="text/javascript">
      $("select[name='year']").find(`option[value='${moment().format("YYYY")}']`).prop("selected",true)
      $("select[name='month']").find(`option[value='${moment().format("MM")}']`).prop("selected",true)

      getAttendanceSheet($("select[name='year']").val(),$("select[name='month']").val())

      $("#search_form").submit(function(){
        let year = $(this).find("select[name='year']").val()
        let month = $(this).find("select[name='month']").val()
        getAttendanceSheet(year,month)

        return false

      })
      function getAttendanceSheet(year,month) {
        $.ajax({
          type:"POST",url:"{% url 'employees:getAttendance' %}",
          data:{"year":year,"month":month,"csrfmiddlewaretoken":"{{csrf_token}}"},
          success:(res)=>{
            console.log(res);
            let sheet = ''
            Object.keys(res['present_absent']).map((item,i)=>{
              let report = ''
              res['present_absent'][item].map((attend,i)=>{
                let tooltip_data = ''
                var loc;
                console.log(i);
                if(res['clockin_out'][item][i] !== "N/A"){
                  res['clockin_out'][item][i].map((time,i)=>{

                    let clock_in = new Date(time['clock_in'])
                    if(time['clock_out'] === undefined){

                      tooltip_data+=`<strong>${formatAMPM(clock_in)}</strong><strong>--</strong></br>`
                    }
                    else{
                      let clock_out = new Date(time['clock_out'])
                      loc = time['pos']
                      tooltip_data+=`<small><b>Clock in</b>: <i>${formatAMPM(clock_in)}</i>&nbsp;&nbsp;<b>Clock out</b>: <i>${formatAMPM(clock_out)}</i></br></small>`
                    }
                  })
                }

                if(attend === "present"){
                  console.log(loc,"k");
                  report += `<td><i class="fa fa-check text-success" data-html='true' data-toggle='tooltip' data-placement='right' title='${tooltip_data}'></i><a target='_blank' href='https://www.google.com/maps/place/${loc}'><i class="fa fa-compass" data-toggle='tooltip' data-placement='right' title='Location'></i></a></td>`
                }
                else if(attend === 'absent'){
                  report += `<td><i class="fa fa-times text-danger" data-toggle='tooltip' data-placement='right' title='Absent'></i></td>`
                }
                else{
                  report += `<td><i class="fa fa-times text-danger" data-toggle='tooltip' data-placement='right' title='N/A'></i></td>`

                }
              })
              sheet+=`<tr><td>${item}</td>${report}</tr>`
            })
            $("#attendace_sheet").find("tbody").html(sheet)
            $('[data-toggle="tooltip"]').tooltip()

          }})
      }
      function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ampm;
        return strTime;
      }

    </script>
</div>
{% endblock content%}
