{% extends 'backend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-5 col-5">
                    <h4 class="page-title">Holidays</h4>
                </div>
                <div class="col-sm-7 col-7 text-right m-b-30">
                    <button type="button" class="btn btn-primary js-create" data-toggle="modal" data-url="{% url 'employees:holiday_create' %}"><i
                        class="fa fa-plus"></i>Add Holiday</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table datatable table-striped custom-table m-b-0" id="holiday-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title </th>
                                    <th>Holiday Date</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for item in holiday %}
                                <tr class="holiday-upcoming">
                                    <td>{{ item.pk }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.date|date:"d M, Y" }}</td>
                                    <td style="width: 150px">
                                        <button type="button"
                                                class="btn btn-warning btn-sm js-update"
                                                data-url="{% url 'employees:holiday_update' item.pk %}">
                                          <span class="glyphicon glyphicon-pencil"></span> Edit
                                        </button>
                                        <button type="button" onclick="delete_holiday(this)"
                                                class="btn btn-danger btn-sm"
                                                data-url="{% url 'employees:delete_holiday' item.pk %}">
                                          <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                      </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock content%}


{% block js %}
<script>
  function delete_holiday(ele){
    $.ajax({
      url: $(ele).data("url"),
      type: 'POST',
      dataType: 'json',
      data:{csrfmiddlewaretoken:'{{csrf_token}}'},
      // beforeSend: function () {
      //   $("#modal-form .modal-content").html("");
      //   $("#modal-form").modal("show");
      // },
      success: function (data) {
        // $("#modal-form .modal-content").html(data.html_form);
        location.reload()
      }
    });
  }
  $(function () {

    var loadForm = function () {
      var btn = $(this);
      $.ajax({
        url: btn.data("url"),
        // type: 'POST',
        dataType: 'json',
        // data:{csrfmiddlewaretoken:'{{csrf_token}}'},
        beforeSend: function () {
          $("#modal-form .modal-content").html("");
          $("#modal-form").modal("show");
        },
        success: function (data) {
          $("#modal-form .modal-content").html(data.html_form);
        }
      });
    };

    var saveForm = function () {
      var form = $(this);
      $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {
            $("#holiday-table tbody").html(data.html_list);
            $("#modal-form").modal("hide");
          }
          else {
            $("#modal-form .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    };


    /* Binding */

    // Create book
    $(".js-create").click(loadForm);
    $("#modal-form").on("submit", ".js-create-form", saveForm);

    // Update book
    $("#holiday-table").on("click", ".js-update", loadForm);
    $("#modal-form").on("submit", ".js-update-form", saveForm);

    // Delete book
    $("#holiday-table").on("click", ".js-delete", loadForm);
    $("#modal-form").on("submit", ".js-delete-form", saveForm);

  });

</script>

{% endblock js %}
