{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="main-wrapper">
    <div>

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="modal-dialog modal-content modal-lg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-5 col-5">
                            <h4 class="page-title">Leave</h4>
                        </div>
                        <div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        {{ form.employee|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    {{ form.leave_type|as_crispy_field }}
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    {{ form.leave_start_date|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.leave_end_date |as_crispy_field }}
                                </div>
                            </div>
                                   
                            </div>
                            <div class="form-group">
                                {{ form.leave_reason|as_crispy_field }}
                            </div>
                                  <div class="m-t-20 text-center">
                                    <button class="btn btn-primary" type="submit">Edit Leave Request</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>


    {% endblock content%}